
#centered {
    text-align: center;
    padding-top: 25%

}

.col-lg-4, .col-md-6 {
    height: 30%;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgb(0, 0, 0);
}

p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgb(67, 80, 250);
}

.elem {
    height: 350px;
    border-bottom: 30px;

}

.container {
    margin-left: 10%;
    margin-right: 10%;


}

.c1 {
    background-color: white;
    height: 100%;
}

.thumbnail {
    padding: 0px;
    margin: 0px;
    height: 80%;

}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

.textzone p {

    font-size: 16px;
    font-family: 'Alatsi', sans-serif;
    color: black;

}

body {
    background: url(https://cdn.pixabay.com/photo/2014/09/24/14/29/mac-459196_1280.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

html {
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}